*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-family: Arial, sans-serif;
  font-size: 1rem;
  line-height: 1.6;
  background-color: #fff;
  color: #333;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  background: #333;
  color: #fff;
  padding: 1rem 1.5rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 1000;
}

.nav-button {
  background-color: #333;
  color: #fff;
  border: none;
  box-shadow: none;
  height: 2.5rem; /* Adjust this value to match the height of the header title */
  width: 2.5rem; /* Make the width equal to the height */
  font-size: 1.75rem; /* Adjust the font size to fit within the button */
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-button::before {
  content: "☰";
}

.nav-list {
  position: absolute;
  top: 100%;
  right: 0;
  list-style: none;
  height: 0;
  overflow: hidden;
  transition: height 0.3s ease-out;
}

.nav-list.active {
  width: 100vw;
  background-color: #333;
  color: #fff;
  display: flex;
  flex-direction: column;
  text-align: right;
}

nav ul li {
  display: inline;
  margin: 0 10px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
}

nav ul li a:hover {
  text-decoration: underline;
}

.nav-button.cross::before {
  content: "✖";
}

.nav-list.active .nav-item {
  padding: 1rem;
  border-bottom: 1px solid #fff;
}

.nav-list.active .nav-item:last-child {
  border-bottom: none;
}

section {
  padding: 2rem;
  background: #fff;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  scroll-margin-top: 5rem;
}

#banner {
  background-image: url("../images/background1.jpg");
  height: 30rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#banner h1 {
  font-size: 3rem;
  text-align: center;
  margin-bottom: 1rem;
}

section:last-of-type {
  margin-bottom: 2rem;
}

section h2 {
  font-size: 2.5rem;
  border-bottom: 2px solid #333;
  padding-bottom: 0.5rem;
}

section p {
  margin: 1rem 0;
  padding-left: 3rem;
  padding-right: 3rem;
  font-size: 1.5rem;
}

.projects {
  margin-bottom: 1.5rem;
}

.album-container {
  padding: 3rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
}

.album-item {
  flex: 0 0 auto;
  margin: 1rem;
  text-align: center;
  border: 1px solid #b8b8b8;
  border-radius: 30px;
}

.album-item img {
  aspect-ratio: 3 / 2;
  border-radius: 30px 30px 0 0;
  object-fit: cover;
  width: 100%;
  height: auto;
}

.album-item h3 {
  font-size: 1.5rem;
  margin: 0.5rem 0;
}

.album-item p {
  font-size: 1rem;
  color: #666;
}

.album-info-container {
  padding: 1rem;
}

.skills-list-container {
  width: 100%;
  padding: 3rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  gap: 2rem;
}

.skills-list {
  flex: 0 0 auto;
  margin: 1rem;
  text-align: center;
  border: 1px solid #b8b8b8;
  border-radius: 30px;
}

footer {
  text-align: center;
  padding: 1rem 0;
  background: #333;
  color: #fff;
  width: 100%;
  bottom: 0;
}

/* @media (min-width: 600px) {
  body {
    font-family: Arial, sans-serif;
    font-size: 10px;
    line-height: 1.6;
    background-color: #f4f4f4;
    color: #333;
  }

  .header {
    background: #333;
    color: #fff;
    padding: 1rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  nav ul {
    list-style: none;
  }

  nav ul li {
    display: inline;
    margin: 0 10px;
  }

  section {
    padding: 2rem;
    margin: 2rem 0;
  }

  h2 {
    border-bottom: 2px solid #333;
    padding-bottom: 0.5rem;
  }

  .project {
    margin-bottom: 1.5rem;
  }

  footer {
    padding: 1rem 0;
  }
} */
