*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-family: Arial, sans-serif;
  font-size: 1rem;
  line-height: 1.6;
  background-color: #fff;
  color: #333;
  display: flex;
  flex-direction: column;
  align-items: center;
}

header {
  background: #333;
  color: #fff;
  padding: 1rem 1.8rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 1000;
}

.nav-button {
  background-color: #333;
  color: #fff;
  border: none;
  box-shadow: none;
  height: 2.5rem; /* Adjust this value to match the height of the header title */
  width: 2.5rem; /* Make the width equal to the height */
  font-size: 1.75rem; /* Adjust the font size to fit within the button */
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-button::before {
  content: "☰";
}

.nav-list {
  position: absolute;
  top: 100%;
  right: 0;
  list-style: none;
  height: 0;
  overflow: hidden;
  transition: height 0.3s ease-out;
}

.nav-list.active {
  width: 100vw;
  background-color: #333;
  color: #fff;
  display: flex;
  flex-direction: column;
  text-align: right;
}

nav ul li {
  display: inline;
  margin: 0 10px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
}

nav ul li a:hover {
  text-decoration: underline;
}

.nav-button.cross::before {
  content: "✖";
}

.nav-list.active .nav-item {
  padding: 1rem;
  border-bottom: 1px solid #fff;
}

.nav-list.active .nav-item:last-child {
  border-bottom: none;
}

.fade-in {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

/* Add the animation class */
.fade-in.visible {
  opacity: 1;
  transform: translateY(0);
}

section {
  padding: 2rem;
  background: #fff;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  scroll-margin-top: 5rem;
}

#banner {
  background-image: url("../images/background1.jpg");
  height: 35rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#banner h1 {
  font-size: 3rem;
  text-align: center;
  margin-bottom: 1rem;
}

section:last-of-type {
  margin-bottom: 2rem;
}

section h2 {
  font-size: 2.5rem;
  border-bottom: 2px solid #333;
  padding-bottom: 0.5rem;
}

section p {
  margin: 1rem 0;
  padding-left: 3rem;
  padding-right: 3rem;
  font-size: 1.5rem;
}

.album-container {
  width: 100%;
  padding: 3rem 3rem 0 3rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(35rem, 1fr));
  gap: 2rem;
}

.album-item {
  flex: 0 0 auto;
  margin: 1rem;
  text-align: center;
  border: 1px solid #b8b8b8;
  border-radius: 30px;
}

.album-item img {
  aspect-ratio: 3 / 2;
  border-radius: 30px 30px 0 0;
  object-fit: cover;
  width: 100%;
  height: auto;
  border-bottom: 1px solid #b8b8b8;
}

.album-item h3 {
  font-size: 1.7rem;
  margin: 0.5rem 0;
}

.album-item p {
  font-size: 1.5rem;
  color: #666;
}

.album-info-container {
  padding: 1rem;
}

.skills-list-container {
  width: 100%;
  padding: 3rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(35rem, 1fr));
  gap: 2rem;
}

.skills-list {
  flex: 0 0 auto;
  margin: 1rem;
  border: 1px solid #b8b8b8;
  border-radius: 30px;
  padding: 2rem 4rem 2rem 4rem;
}

.skills-list h3 {
  font-size: 1.7rem;
  margin-bottom: 1rem;
  text-align: center;
}

.skills-item {
  text-align: right;
  display: grid;
  grid-template-columns: 1fr 1.8fr;
  gap: 1rem;
}

.skills-item.others {
  grid-template-rows: 1fr 1fr;
  grid-template-areas: "skills-title skills-title" "label meter";
  gap: 0.25rem 1rem;
  margin-bottom: 1rem;
}

.skills-title.others {
  grid-area: skills-title;
  font-size: 1.6rem;
  margin: 0;
  padding: 0;
  text-align: center;
  font-weight: bold;
}

.skills-item.others label {
  grid-area: label;
}

.skills-item.others meter {
  grid-area: meter;
}

.skills-item label {
  font-size: 1.6rem;
}

.meter-container {
  position: relative;
  margin-right: 1rem;
  display: flex;
  align-items: center;
}

.meter-container meter {
  width: 100%;
  height: 2rem;
}

.meter-container meter::-webkit-meter-optimum-value {
  background: #f28f68;
}

/* For Firefox */
.meter-container meter::-moz-meter-bar {
  background: #f28f68;
}

.meter-container .circle {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  border: 5px solid #555555;
  background-color: white;
}

#contact p {
  font-size: 1.8rem;
  margin: 1.5rem 0 0 0;
}

#contact a {
  color: #333;
  text-decoration: none;
}

#contact a:hover {
  text-decoration: underline;
}

footer {
  text-align: center;
  padding: 1rem 0;
  background: #333;
  color: #fff;
  width: 100%;
  bottom: 0;
}

@media (min-width: 768px) {
  section {
    padding: 4rem;
  }

  section h2 {
    font-size: 2.8rem;
  }

  header {
    padding: 1rem 2.2rem;
  }

  header h1 {
    font-size: 2.2rem;
  }

  .nav-button {
    display: none;
  }

  .nav-list {
    position: static;
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .nav-list.active {
    width: auto;
    background-color: transparent;
    flex-direction: row;
  }

  .nav-item {
    margin: 0 2rem;
    font-size: 2rem;
  }

  .nav-item a {
    color: #fff;
    text-decoration: none;
  }

  #banner {
    height: 40rem;
  }

  #banner h1 {
    font-size: 3.5rem;
  }

  #about p {
    font-size: 1.6rem;
  }

  .album-item h3 {
    font-size: 1.9rem;
  }

  .album-item p {
    font-size: 1.7rem;
  }

  #contact p {
    font-size: 2rem;
  }

  footer {
    font-size: 1.1rem;
  }
}

@media (min-width: 1200px) {
  section {
    padding: 5rem;
  }

  section h2 {
    font-size: 3.1rem;
  }

  header {
    padding: 1rem 2.4rem;
  }

  header h1 {
    font-size: 2.5rem;
  }

  .nav-button {
    display: none;
  }

  .nav-list {
    position: static;
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .nav-list.active {
    width: auto;
    background-color: transparent;
    flex-direction: row;
  }

  .nav-item {
    margin: 0 2.2rem;
    font-size: 2.2rem;
  }

  .nav-item a {
    color: #fff;
    text-decoration: none;
  }

  #banner {
    height: 45rem;
  }

  #banner h1 {
    font-size: 3.8rem;
  }

  #about p {
    font-size: 1.8rem;
  }

  .album-item h3 {
    font-size: 2.1rem;
  }

  .album-item p {
    font-size: 1.9rem;
  }

  #contact p {
    font-size: 2.2rem;
  }

  footer {
    font-size: 1.2rem;
  }
}

/* @media (min-width: 600px) {
  body {
    font-family: Arial, sans-serif;
    font-size: 10px;
    line-height: 1.6;
    background-color: #f4f4f4;
    color: #333;
  }

  .header {
    background: #333;
    color: #fff;
    padding: 1rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  nav ul {
    list-style: none;
  }

  nav ul li {
    display: inline;
    margin: 0 10px;
  }

  section {
    padding: 2rem;
    margin: 2rem 0;
  }

  h2 {
    border-bottom: 2px solid #333;
    padding-bottom: 0.5rem;
  }

  .project {
    margin-bottom: 1.5rem;
  }

  footer {
    padding: 1rem 0;
  }
} */
